@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: white;
    border-right: 1px solid #ddd;
    transition: all .8s ease;
}

.sidebar header {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-align: center;
    line-height: 100px;
    user-select: none;
}

header span#site_title {
    border-bottom: 10px solid #4a148c;
    font-size: 1.8rem;
    font-style: bold;
}

.sidebar ul li{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    padding-left: 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px soid #333;
    transition: 0.4s;
    cursor: pointer;
}

ul li:hover {
    margin-left: 16px;
}

ul i {
    margin-right: 8px;
    color: #4a148c;
    font-size: 1.1rem;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: fixed;
    cursor: pointer;
    background-color: #4a148c;
    border-radius: 24px;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 25px;
    color: white;
    padding: 6px 12px;
    transition: all .8s;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 30px;
    font-size: 25px;
    color: white;
    padding: 5px 10px;
    transition: all .8s;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 195px;
}